@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,500;0,600;0,700;1,400;1,500&family=Permanent+Marker&display=swap');

/*---------------------------------------------Navbar*/

.navbar{
    background-color: #fefcfb !important;
}

.navbar-brand{
    font-size: 3rem;
    letter-spacing: 3px;
    color: #034078 !important;
    font-family: "Permanent Marker", sans-serif;
}

.nav-link {
    font-size: 2rem;
    letter-spacing: 5px;
    color: #034078 !important;
    font-family: "Alegreya", sans-serif;
    font-weight: 600;
}

.nav-link:hover {
    color: #1282A2 !important;
}

.home-link {
    margin-right: 1.5rem;
}

.navbar-toggler {
   background-color: #034078 !important;
   font-size: 1.5rem;
   
}

.active {
    text-decoration: underline;
}

/*---------------------------------------------Index*/

.jumbotron {
    height: 500px;
    width: 100%;
    background-color: #fefcfb;
    border: 1px solid #034078;
}

/*#image-text-outer {
    position: relative;
    height: 700px;
    width: 100%;
    overflow: hidden;
}

.image-index {
 height:700px;
 width: 100%;
}

.text-overlay {
    height: 600px;
    width: 600px;
    background-color: rgba(254, 252, 251, 0.9);
    position: absolute;
    top: 65px;
    bottom: 25%;
    left: 410px;
    border-radius: 15px;
    text-align: center;
    
}*/

.heading {
    font-family: "Permanent marker", sans-serif;
    font-size: 3.5rem;
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
    color: #034078;
}

.normal-text {
    font-family: "Alegreya", sans-serif;
    font-weight: 500;
   font-size: 1.25rem;
   color: #034078;
   margin-left: 10px;
   margin-right: 10px;
}

.index-images {
    height: 250px;
    width: 100%;
}

/*---------------------------------------------Footer*/

footer {
    height: 120px;
    border-top: 1px solid #034078;
    margin-top: 32px;
}

.copyright{
    text-align: center;
    bottom: 0;
    margin-top: 20px;
}

.social i {
    font-size: 3rem;
    color: #034078;
    margin-top: 20px;
    margin-right: 25px;
}

.social i:hover {
    color: #1282A2;
}

.about{
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: "Permanent Marker", sans-serif;
    letter-spacing: 4px;
    color: #034078;
}

.about-text {
    font-family: "Alegreya", sans-serif;
    font-size: 1.1rem;
   
}

ul {
    margin-top: 5px;
}

.question li a {
    font-family: "Alegreya", sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    color: #034078;
    margin-top: 3px;
}

ul li {
  list-style-type: none;
}

/*---------------------------------------------Contact*/

.get-in-touch {
    margin-top: 25px;
}

.get-in-touch-submit {
    margin-bottom: 25px;
}

form {
    margin-top: 25px;
}

/*---------------------------------------------Buttons*/

 .btn {
    font-family: "Alegreya", sans-serif;
    background-color: #034078;
    color: #fefcfb;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    text-align: center; 
}

.btn:hover {
     background-color: #1282A2;
     border: 1px solid #034078;
}

/*---------------------------------------------Multiple Pages*/

.center {
    text-align: center;
}

.left {
    text-align: left;
}

/*---------------------------------------------Media Query*/

@media only screen and (max-width: 300px) {
    .navbar-brand {
        font-size: 1.5rem;
        letter-spacing: 0;
    }
    .navbar-toggler {
   font-size: 1rem;
   }

   .nav-link {
       font-size: 1rem;
   }

   .about h5{
    margin-top: 10px;
    font-size: .9rem;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
}

.jumbotron {
    height: 1190px;
  width: 100%;
  text-align: left;
  border: 1px solid #034078;
}

.social i {
    font-size: 2.2rem;
    margin: 25px 25px 20px 0;
}

.about-text {
    font-size: .95rem;
    text-align: center; 
}

ul {
    margin-top: 10px;
}

.question li a {
    font-size: 1rem;
    list-style-type: square;
    text-align: center;
    margin-top: 20px;
}

.footer {
    height: 300px;
}

.copyright {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: .9rem;
}

}

@media only screen and (min-width: 320px) {
    .navbar-brand {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
   
    .navbar-toggler {
   font-size: 1rem;
   }

   .nav-link {
     font-size: 1.25rem;
   }

.jumbotron {
    height: 1075px;
  width: 100%;
  border: 1px solid #034078;
  border-left: 0;
  border-right: 0;
}

}

@media only screen and (min-width: 360px) {
    .navbar-brand {
        font-size: 1.75rem;
        letter-spacing: 3px;
    }
   
    .navbar-toggler {
   font-size: 1.25rem;
   }
   
   .nav-link {
     font-size: 1.5rem;
   }

   .jumbotron {
    height: 955px;
  width: 100%;
  border: 1px solid #034078;
}
}

@media only screen and (min-width: 375px) and (max-width: 400px) {
    .navbar-brand {
        font-size: 1.75rem;
        letter-spacing: 3px;
    }
   
    .navbar-toggler {
   font-size: 1.25rem;
   }

   .nav-link {
     font-size: 1.5rem;
   }

   .jumbotron {
  border: 1px solid #034078;
  }
}

@media only screen and (min-width: 411px) {
    .navbar-brand {
        font-size: 2rem;
        letter-spacing: 5px;
    }
   
    .navbar-toggler {
   font-size: 1rem;
   }

   .nav-link {
     font-size: 1.5rem;
   }

   .jumbotron {
    height: 900px;
  width: 100%;
  border: 1px solid #034078;
  }
}

@media only screen and (min-width: 414px) {
    .navbar-brand {
        font-size: 1.75rem;
        letter-spacing: 3px;
    }
   
    .navbar-toggler {
   font-size: 1rem;
   }

   .nav-link {
     font-size: 1.75rem;
   }

   .jumbotron {
   border: 1px solid #034078;
   }
}

@media only screen and (min-width: 540px) {
    .navbar-brand {
        font-size: 2.5rem;
        letter-spacing: 5px;
    }
   
    .navbar-toggler {
   font-size: 1.5rem;
   }

   .nav-link {
     font-size: 1.5rem;
   }

   .jumbotron {
       height: 700px;
    border: 1px solid #034078;
 }
}

@media only screen and (min-width: 768px) {
    .navbar-brand {
        font-size: 3rem;
        letter-spacing: 5px;
    }
   
    .navbar-toggler {
   font-size: 1.75rem;
   }

   .nav-link {
     font-size: 2rem;
   }

   .jumbotron {
       height: 650px;
    border: 1px solid #034078;
 }
}

@media only screen and (min-width: 1000px) {
    .navbar-brand{
    font-size: 3rem;
    letter-spacing: 5px;
    }

    .navbar-toggler {
   font-size: 1.5rem;
   }

.nav-link {
    font-size: 1.6rem;
    letter-spacing: 1x;
}

.jumbotron {
       height: 550px;
    border: 1px solid #034078;
 }
}

